body {
  background-color: #e1e9f0;
}

h1,
p {
  margin: 0;
}

.container_principal {
  background-color: #fff;
  width: 40%;
  margin: 40px auto;
  border-radius: 4px;

  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
}

.titulo {
  font-size: 32px;
  color: #3e3e3e;
  font-weight: bold;
  margin-bottom: 20px;
}

.descricao {
  font-size: 18px;
  color: #3e3e3e;
}

.label_input {
  font-size: 16px;
  font-weight: bold;

  color: #3e3e3e;
}

.input {
  margin-top: 10px;
  width: 100%;
  height: 34px;
  border: 1px #e1e9f0 solid;
  border-radius: 4px;
  padding-left: 10px;

  font-size: 18px;
  color: #3e3e3e;
}

.input:focus {
  outline: none;
  border-width: 2px;
  border-color: #ccd9e4;
}

.botao_calcular {
  width: 80%;
  height: 34px;
  background-color: #0d9987;
  border-radius: 4px;
  color: #fff;
  margin-top: 10px;
  border: none;
}

.resultado {
  display: none;
  background-color: #eff6ff;
  height: 100px;
  border-radius: 8px;
  padding: 10px;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
